.features{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 600;
    flex-wrap: wrap;
    text-align: center;
    
}
.features > div{
    margin: 5px;
    cursor: pointer;
}
.features > div:hover{
    /* background-color: rgb(216, 216, 216); */
    transition: 0.5s ease;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(143, 143, 143);
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}