.footer{
    position: relative;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: scale(0.4);
}
.footer img{
    position: absolute;
    max-width: 100%;
}

@media(max-width: 450px){
    .footer{
        width: 100vw;
        position: relative;
    }
    .footer img{
        max-width: 100%;
        position: absolute;
        left: 30px;

    }
}