.motto{
    display: flex;
    /* min-height: 80vh; */
    background: url("../component-style/images/42893acffb02dca99076aafbd7b57de3.png");
    width: 100%;
    background-position: center;
    background-size: cover;
}
.left{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    min-width: 30%;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}
.C{
    width: 170px;
}
.C img{
    max-width: 100%;
}
.connect_para{
    color: white;
    text-align: center;
}
.scan_and_download{
    text-align: center;
}
.qr{
    width: 150px;
}
.qr:hover{
    /* width: 160px;
    transition: 0.5s ease; */

}
.qr img{
    max-width: 100%;
}
.open{
    text-align: center;
}
.right{
    position: relative;
    /* background-color: yellow; */
    display: flex;
}
.message{
    position: relative;
    height: 100%;
    background-color: rebeccapurple;
}
.message img{
    position: absolute;
    bottom: 50px;
    left: 0;

}
.human{
    position: relative;
    height: 100%;
    /* background-color: rebeccapurple; */
}
.human img{
    position: absolute;
    bottom: 0px;
    left: 50px;

}
.background{
    position: absolute;
    height: 100%;
    width: 40vw;
    margin-top: 4rem;
    transform: scale(0.8);
}
.background img{
    position: absolute;
    bottom: 20px;
    left: 170px;
    max-width: 100%;
}
.mobile{
    margin-left: 5rem;
    position:sticky;
}
.mob-1 img{
    padding-top: 20rem;
    position: absolute;
    padding-left: 5rem;
    margin-left: 8rem;
    transform: scale(0.7);
}
.mob-2{
    margin-top: 45rem;
    position: relative;
}
.mob-2 img{
    position: absolute;
    margin-left: 14rem;
    transform: scale(0.7);
    padding-left: 5rem;
}



@media(max-width: 720px){
    .right{
        display: none;
    }
    .left{
        width: 80%;
    }
}
@media(max-width: 950px){
    .background{
        display: none;
    }
}
@media(max-width: 1800px){
   .bck-1, .bck-2, .bck-3{
       display: none;
   }
}
@media(max-width: 1100px){
    .mobile{
        margin-left: -4rem;
    }
}
@media(max-width: 1000px){
    .human{
        margin-left: 10rem;
    }
}

@media screen and (min-aspect-ratio: 1/1)
{
    .motto{
        display: flex;
        /* min-height: 80vh; */
        background: url("../component-style/images/42893acffb02dca99076aafbd7b57de3.png");
        width: 100vw;
        background-position: center;
        background-size: cover;
    }
}

